.square {
  width: 100px;
  height: 100px;
  background-color:black;
  border: 4px double white;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.header-font {
  font-size: 3rem;
  font-style: oblique;
}

.button {
  margin-top: 1rem;
  background-color: black;
  border-style: 2px solid black;
  color: white;
}