.square {
  width: 150px;
  height: 150px;
  background-color:black;
  border: 4px double white;
  text-align: center;
  font-size: 5rem;
  color: white;
}

.header-font {
  border: 4px solid white;
  font-size: 3rem;
  font-style: oblique;
  text-align: center;
  color: white;
  background-color: black;
}

.button {
  margin-top: 1rem;
  background-color: black;
  border-style: 2px solid black;
  color: white;
  margin-bottom: 1rem;
}
